@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.question-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    line-height: 30px;
}

.question {
    margin-bottom: 10px;
}

.answers {
    margin-top: 30px;
    margin-bottom: 30px;
}

.explanation {
    margin-bottom: 10px;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.li {
    margin-bottom: 4px;
}

.btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-sm {
    padding: 0px 10px;
    font-size: 12px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-default {
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
}

.btn-default:hover {
    background-color: #f1f1f1;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    min-height: 50px;
    height: 150px;
}

.filter.sticky {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    margin-bottom: 15px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.pagination .btn {
    font-size: 13px;
}

.pagination .btn {
    margin: 0 5px;
}

.pagination .page-input {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.pagination .page-input input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.search input {
    margin: 0 5px;
}

.no-data {
    text-align: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    padding: 7px 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    border: 1px solid #ddd;
    background: white;
    font-size: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.alert.alert-success {
    background-color: #1eb942;
    color: white;
    border-color: #1eb942;
}

.alert.alert-danger {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}
